<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ibm-device-orientation-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DeviceOrientationPlugin</name>
    <js-module name="ibm-device-orientation-plugin" src="www/ibm-device-orientation-plugin.js">
        <clobbers target="cordova.plugins.ibm-device-orientation-plugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DeviceOrientationPlugin">
                <param name="android-package" value="com.ibm.tivoli.si.plugin.DeviceOrientationPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        
    <lib-file custom="true" type="gradleReference" src="src/android/libs/DeviceOrientationPlugin.jar"/>
</platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
           <feature name="DeviceOrientationPlugin">
                <param name="ios-package" value="ISIDeviceOrientationPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ISIDeviceOrientationPlugin.h"/>
        
    <source-file framework="true" src="src/ios/libDeviceOrientationPlugin.a"/>
</platform>
</plugin>