<?xml version='1.0' encoding='utf-8'?>
<plugin id="ibm-plugin-filepath" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FilePath</name>
    <js-module name="FilePath" src="www/FilePath.js">
        <clobbers target="cordova.plugins.FilePath" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FilePath"><param name="android-package" value="com.hiddentao.cordova.filepath.FilePath" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/com/hiddentao/cordova/filepath/FilePath.java" target-dir="src/com/hiddentao/cordova/filepath" />
    </platform>
</plugin>